body {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: 2000px;
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  color: black;
}

.background_image {
 
}

.card {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.397);
}

/* .about {
  background: pink;
  height: 400px;
} */
/* gray card */
.btn_gray {
  background-color: rgb(255, 255, 255); 
  border: solid 2px rgb(73, 73, 73);
  color: rgb(73, 73, 73);
  padding: 15px 25px;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  margin: auto;
  border-radius: 10px;
}

.btn_gray:hover {
  background: rgb(73, 73, 73);
  color: white;
  border: solid 2px rgb(173, 169, 170);
}
/* pink card */
.btn_pink {
  background-color: rgb(255, 255, 255); 
  border: solid 2px rgb(247, 10, 101);
  color: rgb(247, 10, 101);
  padding: 15px 25px;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  margin: auto;
  border-radius: 10px;
}

.btn_pink:hover {
  background: rgb(247, 10, 101);
  color: white;
  border: solid 2px pink;
}
/* .about {
  margin: auto;
} */

/* Side navigation bar */
.sidenav {
  background: #111;
  padding-top: 60px;
}

.contact_icons {
  padding:30px;
}

.pagetab {
  font-size: 1.4em;
  color: #ddd3d3;
  display: block;
  transition: 0.3s;
  padding: 15px;
}

/* When you mouse over the navigation links, change their color */
.pagetab:hover {
  color: #db2955;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* The sidenav */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(173, 33, 92, 0.425);
  overflow-x: hidden;
  padding-top: 20px;
}

/* Page content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}