body {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: 2000px;
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  color: black;
}

.container {
  max-width: 100%;
  margin: auto;
}
.card {
  margin: 20px 0 0 10px;
  background: rgba(255, 255, 255, 0.397);
  border: 2px;
  border-radius: 40px;
}

.sidenav {
  float: left;
  height: 100%;
  background: rgba(173, 33, 92, 0.425);
  padding-top: 60px;
}

div.col-2 {
  padding: 0;
}

.contact_icons {
  padding:30px;
  width: 200px;
}

.profileimg {
  border-radius: 50%;
  border: solid 3px white;
  margin: 10px;
}

.about_background {
  color: white;
  font-size: 0.9em;
  margin-left: 10px;
}

.profolio {
  float: left;
  margin: auto;
}
/* .pagetab {
  font-size: 1.4em;
  color: #ddd3d3;
  display: block;
  transition: 0.3s;
  padding: 15px;
} */

/* When you mouse over the navigation links, change their color */
/* .pagetab:hover {
  color: #db2955;
} */


/* Max width: 980px */
/* @media screen and (max-height: 980px) {
  .sidenav {
    height: 90%;
    width: 90%;
  }

  body,
  p,
  h5 {
    font-size: 1em;
  }

} */
/* Max width: 768px */
/* @media screen and (max-height: 768px) {
  .sidenav {
    height: 100%;
    width: 120%;
    background: rgba(173, 33, 92, 0.425);
    padding-top: 60px;
  }

  body,
  p,
  h5 {
    font-size: 0.8em;
  }

  img {
    width: 80%;
    height: 80%
  }
} */
/* Max width: 640px */
/* @media screen and (max-height: 640px) {
  .sidenav {
    height: 100%;
    width: 120%;
    background: rgba(173, 33, 92, 0.425);
    padding-top: 60px;
  }

  body,
  p,
  h5 {
    font-size: 0.8em;
  }

  img {
    width: 80%;
    height: 80%
  }
} */